.progress-bar {
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding: 2px 4px;
  position: relative;
  border-radius: 4px;
  color: #000000;
}
.value {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
}
.text {
  position: relative;
}
